html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(https://images.pexels.com/photos/106152/euro-coins-currency-money-106152.jpeg);
    background-color: #35e400c7;
}